* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    padding-top: 18px;
    padding-left: 208px;
}

.header_nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    list-style: none;
}

.header_nav>li {
    margin-top: 20px;
}

.header_nav>li>a {
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-decoration: none;
}